#Android 
*.apk
.gradle
/gradle
/local.properties
/captures
/.idea
/build
gradle.properties
/infer-out

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
local.properties
build.xml
proguard-project.txt

#Mac OS
.DS_Store
