package %PACKAGE%;

import cn.jesse.patcher.loader.app.PatcherApplication;

/**
 * Generated application for patcher
 */
public class %APPLICATION% extends PatcherApplication {

    public %APPLICATION%() {
        super(%PATCH_FLAGS%, "%APPLICATION_PROXY%", "%PATCH_LOADER_CLASS%", %PATCH_LOAD_VERIFY_FLAG%);
    }

}